.body{
    background-color: #eee;
}
.warp,content{
    width: 80%;
    margin: 0 auto;
    
}
.header{
    margin: 20px;
    display: flex;
    justify-content:space-between;
}
.header img{
    height: 60px;
    width: 60px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link li a {
    display: block;
    padding: 20px 30px;
    margin-right: 5px;
    background-color:aquamarine;
    text-align: center;
}
.link li a:hover{
    background-color:blue;
    color: white;
}
.footer{
    font-size: 20px;
    text-align: center;
}