.section-title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.section h2:not(.section-title),
.section h3,
.section h4{
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.project-info h2{
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.carousel-item img{
    object-fit: cover;
}

.section p {
    text-align: center;
}
.info-box {
    /* text-align: center; */
}
.info-box dt {
    font-weight: bold;
    margin-top: 1rem;
}

.project-info {
  background-color: #f8f0e6;
  color: #5a4a3f;
}


.caption {
  font-size: 0.9rem;
  color: #6c5c50;
  margin-top: 0.3rem;
}

.info-icons span {
  display: inline-block;
  font-size: 2rem;
}

.info-image,
.info-map,
.info-icons {
  width: 300px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.info-map img,
.info-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.caption {
  font-size: 0.85rem;
  color: #7a6a5a;
  margin-top: 0.4rem;
}

/* 避免文字區塊太窄 */
.project-info .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
