.workphotos{
    /* height: 500px; */
    /* .carousel-item{
        object-fit: cover; 
        object-position: center center
    } */
    img{
        width: 100%;
        aspect-ratio: 16/9;
        /* 額外確保圖片縮放時會有最好的效果 */
        object-fit: cover;
    }
}
.smallpic{
    display: flex;
}
.smallpic button{
    padding: 20px;
    border: 0;
}
.workpic{
    padding: 20px 30px;
}
.w-20 {
    width: 300px;
    height: 100px;
}