.body{
    background-color: #eee;
}
.warp,content{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.header img{
    height: 60px;
    width: 60px;
}
.link{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}
.link li a:hover{
    background-color:rgba(0, 0, 255, 0.271);
    color: white;
    border-radius: 5px;
}
.footer{
    font-size: 20px;
    /* text-align: center; */
    position: relative;
    .Copyright{
        text-align: center;
    }
}
.footer .icons{
    padding: 0;
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    li a{
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align: center;
        background-color: #0c0b0b79;
        color: #fff;
    }
}