* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; }
  
  html, body {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: "Catamaran", "Noto Sans TC", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: #707070;
    font-size: 1rem; }
  
  ul, ol {
    padding-left: 1.5em; }
  
  a:hover {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  
  a, button {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
    outline: none; }
  
  ::-webkit-scrollbar {
    width: 5px; }
  
  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: none; }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #fff; }
  
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #707070; }
  
  ::selection {
    background: #888888;
    color: #fff; }
  
  .navbar-default {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; }
    .navbar-default .logo {
      padding: 1em 0;
      text-align: center;
      position: relative;
      z-index: 9;
      background-color: #fff; }
    .navbar-default .togglebar {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 2em;
      margin: auto;
      width: 75px;
      height: 75px;
      border-radius: 100%;
      background-color: #FBFAF5;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      z-index: 9; }
      .navbar-default .togglebar i {
        -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        display: block;
        margin: 0.4em auto;
        width: 30px;
        height: 2px;
        background-color: #707070;
        border-radius: 50px; }
      .navbar-default .togglebar.active i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg); }
        .navbar-default .togglebar.active i:last-child {
          transform: rotate(-45deg); }
  
  .nav_box {
    -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #FBFAF5;
    transform: translateY(60em);
    opacity: 0; }
    .nav_box dl {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .nav_box dl dd {
        margin: 1.5em auto; }
        .nav_box dl dd a {
          color: #707070;
          font-size: 1.4rem; }
          .nav_box dl dd a:after {
            -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
            display: block;
            content: "";
            width: 0;
            margin-top: 0.2em;
            height: 1px;
            background-color: #707070; }
          .nav_box dl dd a:hover:after, .nav_box dl dd a:focus:after {
            width: 100%; }
    .nav_box.active {
      transform: translateY(0);
      opacity: 1; }
  
  @media (max-width: 767px) {
    .navbar-default .togglebar {
      right: 1em; } }
  @media (max-width: 480px) {
    .navbar-default .togglebar {
      width: 65px;
      height: 65px; }
      .navbar-default .togglebar i {
        margin: 0.3em auto; }
    .navbar-default .logo img {
      width: 23%; } }
  @media (max-width: 400px) {
    .navbar-default .togglebar {
      width: 50px;
      height: 50px; }
      .navbar-default .togglebar i {
        width: 22px;
        margin: 0.2em auto; }
    .navbar-default .logo {
      padding: 0.5em 1em;
      text-align: left; }
  
    .nav_box dl {
      margin-top: 3em;
      margin-bottom: 0; }
      .nav_box dl dd {
        margin: 1em auto; } }
  .in_banner {
    padding: 0 2em;
    margin-top: 7em; }
  
  .index_banner_slick a {
    display: block;
    position: relative; }
    .index_banner_slick a .in_title {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 17em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .index_banner_slick a .in_title h3 {
        letter-spacing: 2px;
        color: #fff;
        font-size: 1.2rem;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); }
      .index_banner_slick a .in_title span {
        -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100px;
        height: 35px;
        border-radius: 50px;
        background-color: #888888;
        border: 1px solid transparent;
        margin-top: 1em;
        font-size: .8rem; }
    .index_banner_slick a:hover .in_title span, .index_banner_slick a:focus .in_title span {
      background-color: #FBFAF5;
      border: 1px solid #888888;
      color: #888888; }
  
  .in_bg {
    padding: 2em 0 4em; }
  
  .in_p_title h3 {
    text-align: center;
    margin: 2em auto;
    color: #707070;
    font-size: 1.9rem; }
  
  .in_p_box {
    margin-bottom: 4em; }
    .in_p_box a {
      display: block; }
      .in_p_box a .in_p_hover {
        position: relative; }
        .in_p_box a .in_p_hover .in_hover_bg {
          -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
          transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 94%;
          height: 90%;
          background-color: rgba(251, 250, 245, 0.8);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: scale(0.95);
          opacity: 0; }
          .in_p_box a .in_p_hover .in_hover_bg span {
            color: #707070;
            font-size: 1.1rem;
            display: block;
            width: 46px;
            border-bottom: 1px solid #707070; }
      .in_p_box a p {
        color: #888888;
        font-size: 1rem;
        margin: 1em auto;
        text-align: center;
        font-weight: 400; }
      .in_p_box a:hover .in_p_hover .in_hover_bg, .in_p_box a:focus .in_p_hover .in_hover_bg {
        transform: scale(1);
        opacity: 1; }
  
  .in_p_a a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #fff;
    width: 290px;
    height: 71px;
    background-color: #888888;
    border-radius: 50px;
    margin: 3em auto 0;
    text-align: center;
    border: 1px solid transparent; }
    .in_p_a a:hover, .in_p_a a:focus {
      background-color: #FBFAF5;
      color: #888888;
      border: 1px solid #888888; }
  
  .in_a_box {
    width: 100%;
    margin-top: 2em; }
    .in_a_box a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FBFAF5;
      padding: 3em 0; }
      .in_a_box a .in_a_box2 {
        margin-right: 2em;
        text-align: center; }
        .in_a_box a .in_a_box2 h3 {
          color: #888888;
          font-size: 1.9rem;
          font-weight: 500; }
        .in_a_box a .in_a_box2 p {
          margin-bottom: 0;
          font-size: 1.1rem;
          color: #888888; }
  
  .footer {
    background-color: #707070;
    padding: 1.5em 0; }
    .footer ul {
      text-align: center;
      padding: 0; }
      .footer ul li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.2em; }
    .footer p {
      text-align: center;
      color: #fff;
      font-size: 1rem;
      margin-bottom: 0; }
      .footer p a {
        color: #fff; }
  
  @media (max-width: 1399px) {
    .index_banner_slick a .in_title {
      left: 5em; } }
  @media (max-width: 991px) {
    .index_banner_slick a .in_title h3 {
      font-size: 1.2rem; } }
  @media (max-width: 767px) {
    .in_banner {
      padding: 0; }
  
    .index_banner_slick a .in_title {
      left: 3em; }
      .index_banner_slick a .in_title h3 {
        font-size: 1.2rem; }
      .index_banner_slick a .in_title span {
        width: 100px;
        height: 35px;
        font-size: .8em; }
  
    .in_p_a a {
      width: 230px;
      height: 60px;
      margin: 2em auto 0; } }
  @media (max-width: 576px) {
    .index_banner_slick a .in_title {
      left: 2em; }
      .index_banner_slick a .in_title span {
        width: 100px;
        height: 35px; } }
  @media (max-width: 480px) {
    .index_banner_slick a .in_title span {
      margin-top: 0em;
      width: 100px;
      height: 35px;
      font-size: 1.1rem; }
    .index_banner_slick a .in_title h3 {
      font-size: 1.2rem; }
  
    .in_p_title h3 {
      margin: 1em auto; }
  
    .in_p_box {
      margin-bottom: 2em; }
      .in_p_box a {
        margin: 2em auto 0; }
  
    .in_bg {
      padding: 2em 0; }
  
    .in_a_box a {
      flex-wrap: wrap; }
      .in_a_box a .in_a_box2 {
        margin: 0 auto 1em; }
  
    .in_banner {
      margin-top: 5.6em; } }
  @media (max-width: 424px) {
    .in_banner {
      margin-top: 5.5em; } }
  @media (max-width: 400px) {
    .in_banner {
      margin-top: 3.7em; } }
  @media (max-width: 360px) {
    .in_banner {
      margin-top: 3.5em; } }
  .a_bg {
    padding-bottom: 5em; }
  
  .a_banner {
    margin-top: 10em;
    background-color: #FBFAF5;
    text-align: center;
    padding: 3em 0 1.5em;
    min-height: 219px; }
    .a_banner h1, .a_banner .h1 {
      color: #888888;
      font-weight: 500; }
    .a_banner .a_list ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      margin-top: 2.5em;
      list-style: none;
      padding: 0; }
      .a_banner .a_list ul li {
        margin: 0 1em; }
        .a_banner .a_list ul li a {
          color: #888888;
          font-size: 1.1rem; }
          .a_banner .a_list ul li a:hover, .a_banner .a_list ul li a:focus {
            color: #ccc; }
        .a_banner .a_list ul li.active a {
          border-bottom: 1px solid #888888; }
  
  .bread {
    margin: 1em auto; }
    .bread dl {
      display: block;
      text-align: right; }
      .bread dl dd {
        display: inline-block;
        vertical-align: middle; }
        .bread dl dd a {
          font-size: 1rem;
          color: #888888; }
  
  .a_img {
    margin: 2em auto; }
    .a_img img {
      display: block;
      margin: 0 auto; }
  
  .a_box {
    margin-top: 2em; }
    .a_box h3 {
      font-size: 1.58rem;
      color: #888888;
      margin-bottom: 2.5em; }
    .a_box h4 {
      font-weight: 500;
      font-size: 1.4rem;
      color: #888888;
      border-bottom: 1px solid #BFBFBF;
      margin-bottom: 0.8em; }
    .a_box p {
      color: #888888;
      font-size: 1.1rem;
      line-height: 33px;
      font-weight: 400; }
    .a_box strong {
      display: block;
      text-align: right;
      font-size: 1.25rem;
      color: #888888;
      margin-top: 1em;
      font-weight: 500; }
  
  .a_box2 {
    margin: 1.5em auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .a_box2 a {
      display: block;
      padding: 1.5em;
      background-color: #FBFAF5;
      border-radius: 6px; }
      .a_box2 a time {
        display: block;
        color: #888888;
        font-size: 1.25rem;
        margin-top: 1em; }
      .a_box2 a h3 {
        color: #888888;
        font-size: 1.25rem;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 24px;
        height: 45px; }
  
  .a_page {
    margin: 3em auto 1em; }
    .a_page dl {
      text-align: center; }
      .a_page dl dd {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1em; }
        .a_page dl dd a {
          color: #888888; }
          .a_page dl dd a img {
            -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1); }
        .a_page dl dd:hover a, .a_page dl dd:focus a, .a_page dl dd.active a {
          color: #000; }
          .a_page dl dd:hover a img, .a_page dl dd:focus a img, .a_page dl dd.active a img {
            opacity: 0.5; }
        .a_page dl dd.prev a img {
          transform: scale(-1); }
  
  .a_d_title {
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 1em;
    margin-bottom: 3em;
    margin-top: 1em; }
    .a_d_title time {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 0.2em; }
    .a_d_title h1 {
      font-size: 2rem;
      color: #888888;
      text-align: center;
      font-weight: 400; }
  
  .a_d_box {
    padding-bottom: 5em; }
    .a_d_box img {
      width: 100%; }
    .a_d_box h3 {
      text-align: center;
      color: #888888;
      font-size: 2rem;
      margin-top: 2em; }
    .a_d_box p {
      text-align: center;
      color: #888888;
      font-size: 1rem;
      line-height: 30px; }
  
  .a_social {
    text-align: center;
    border-top: 1px solid #CFCFCF; }
    .a_social dl {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1em; }
      .a_social dl dt {
        font-weight: 400;
        margin: 0 0.2em; }
      .a_social dl dd {
        margin: 0 0.2em;
        color: #888888;
        font-size: 0.9rem; }
  
  .a_bak {
    margin: 1em auto;
    text-align: center; }
    .a_bak a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 60px;
      background-color: #888888;
      border-radius: 50px;
      font-size: 1rem;
      color: #fff;
      margin: 4em auto 0;
      border: 1px solid transparent; }
      .a_bak a:hover, .a_bak a:focus {
        background-color: #fff;
        color: #888888;
        border: 1px solid #888888; }
  
  @media (max-width: 480px) {
    .a_bg {
      padding-bottom: 3em; }
  
    .a_d_title {
      margin-bottom: 2em; }
  
    .a_bak a {
      margin: 2em auto 0;
      width: 200px;
      height: 60px; } }
  .p_banner {
    margin-top: 10em;
    background-color: #FBFAF5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     }
    .p_banner h1, .p_banner .h1 {
      color: #888888;
      font-weight: 500; }
  
  .p_box {
    margin-top: 3em; }
  
  .p_d_box {
    margin-top: 2.5em;
    padding-left: 1em; }
    .p_d_box h1 {
      color: #888888;
      font-size: 1.2rem;
      font-weight: 0;
      margin-bottom: 1.5em; }
    .p_d_box p {
      font-size: 1rem;
      color: #888888;
      line-height: 30px; }
  
  
  
  
  
  
  .p_box2 {
    margin-top: 2.5em;
    padding-right: 1em;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  
  .p_hastag {
    text-align: right; }
    .p_hastag a {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1em;
      color: #888888;
      font-size: 1.1rem; }
  
  .p_social ul {
    text-align: right; }
    .p_social ul li {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.2em; }
  
  .p_box_slick {
    margin-top: 3em; }
    .p_box_slick .slick-slide img {
      max-height: 650px;
      margin: 0 auto;
      object-fit: contain;
      width: 100%; }
  
  .p_box_slick-s {
    margin-top: 3em;
    padding: 0 4em; }
    .p_box_slick-s img {
      padding: 1em 0.3em;
      max-height: 141px; }
    .p_box_slick-s .slick-prev, .p_box_slick-s .slick-next {
      width: 35px;
      height: 35px;
      background: url(../image/icon/arrows2.png) center;
      transform: none;
      top: 0;
      bottom: 0;
      margin: auto; }
      .p_box_slick-s .slick-prev:hover, .p_box_slick-s .slick-prev:focus, .p_box_slick-s .slick-next:hover, .p_box_slick-s .slick-next:focus {
        background: url(../image/icon/arrows2.png) center;
        opacity: 0.5; }
      .p_box_slick-s .slick-prev:before, .p_box_slick-s .slick-next:before {
        content: normal; }
    .p_box_slick-s .slick-prev {
      left: 1%;
      transform: scale(-1); }
    .p_box_slick-s .slick-next {
      right: 1%; }
  
  .p_d_bg {
    margin-top: 7em; }
  
  @media (max-width: 767px) {
    .p_d_box {
      margin-top: 0.5em; }
  
    .p_box2 {
      margin-top: 0;
      padding-right: 0;
      padding-left: 1em; }
  
    .p_hastag {
      text-align: left; }
      .p_hastag a {
        margin-left: 0;
        margin-right: 0.5em; }
  
    .p_social {
      margin-top: 1em; }
      .p_social ul {
        text-align: left;
        padding: 0; }
        .p_social ul li {
          margin: 0;
          margin-right: 0.5em; }
  
    .p_box_slick-s {
      display: none !important; }
  
    .p_sm_box img {
      margin-bottom: 1em; } }
  @media (max-width: 480px) {
    .p_box_slick-s {
      margin-top: 2em;
      padding: 0 3em; }
      .p_box_slick-s img {
        padding: 0; }
  
    .p_banner {
      margin-top: 5.8em; }
  
    .p_d_bg {
      margin-top: 11em; } }
  @media (max-width: 424px) {
    .p_banner {
      margin-top: 5.5em; } }
  @media (max-width: 400px) {
    .p_banner {
      margin-top: 3.9em; } }
  @media (max-width: 360px) {
    .p_banner {
      margin-top: 3.5em; } }
  .s_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;
    position: relative; }
    .s_box:before {
      display: block;
      content: "";
      width: 80%;
      height: 1px;
      background-color: #D6D6D6;
      position: absolute;
      left: 0;
      right: 0;
      top: 2.8em;
      z-index: -1;
      margin: auto; }
    .s_box .s_items {
      width: 100%;
      text-align: center; }
      .s_box .s_items span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 93px;
        height: 93px;
        background-color: #888888;
        border-radius: 100%;
        color: #ffffff;
        font-size: 1.1rem;
        margin: 0 auto 1em; }
      .s_box .s_items h3 {
        font-size: 1.1rem;
        color: #000; }
      .s_box .s_items b {
        display: block;
        text-align: center;
        font-size: 0.9rem;
        color: #707070;
        font-weight: 400;
        min-height: 20px; }
  
  .s_box2 {
    background-color: #F6F6F6;
    border-radius: 6px;
    padding: 2em 1em;
    margin-top: 2em;
    position: relative;
    min-height: 134px; }
    .s_box2 p {
      margin-bottom: 0;
      font-size: 0.92rem;
      color: #707070; }
    .s_box2 h4 {
      color: #000;
      font-size: 1rem; }
    .s_box2:before {
      display: block;
      content: "";
      width: 23px;
      height: 20px;
      background: url(../image/icon/icon.png) no-repeat center;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: -1em; }
  
  @media (max-width: 767px) {
    .s_box2 {
      padding: 1em 0.5em; }
  
    .s_box .s_items span {
      width: 75px;
      height: 75px; } }
  @media (max-width: 480px) {
    .s_box {
      flex-wrap: wrap; }
      .s_box:before {
        content: normal; }
      .s_box .s_items {
        width: 100%;
        margin-bottom: 1.2em; }
        .s_box .s_items b {
          min-height: auto; }
  
    .s_box2 {
      min-height: auto;
      margin-top: 1.5em; } }
  .c_form {
    margin-bottom: 5em; }
    .c_form p {
      text-align: center;
      font-size: 1rem;
      color: #474747;
      margin-bottom: 3em; }
    .c_form label {
      font-size: 1.1rem;
      color: #707070; }
    .c_form .form-control {
      background-color: #F6F6F6;
      height: 55px;
      border-radius: 0;
      border: 0;
      margin-bottom: 2em; }
    .c_form select, .c_form option {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #F6F6F6 url(../image/icon/arrows3.png) no-repeat right center;
      background-position-x: 95%; }
    .c_form button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2em auto 0;
      width: 205px;
      height: 65px;
      background-color: #888888;
      border-radius: 50px;
      color: #fff;
      font-size: 1.25rem;
      border: 0; }
  
  #map {
    height: 625px; }
  
  .c_box {
    background-color: #FBFAF5;
    padding: 1.5em 3em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 13em;
    margin: auto;
    z-index: 9;
    height: 315px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .c_box h3 {
      color: #474747;
      font-size: 1.25rem;
      font-weight: 400; }
    .c_box dl dd {
      color: #474747;
      font-size: 1rem;
      margin-bottom: 1em; }
      .c_box dl dd span {
        display: block;
        color: #888888;
        font-size: 0.9rem; }
      .c_box dl dd .google {
        display: inline-block;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 108px;
        height: 33px;
        border-radius: 50px;
        border: 1px solid transparent;
        background-color: #707070;
        color: #fff;
        margin-left: 0.5em;
        font-size: 0.9rem; }
        .c_box dl dd .google:hover, .c_box dl dd .google:focus {
          color: #000;
          background-color: #FBFAF5;
          border: 1px solid #707070; }
      .c_box dl dd b {
        font-weight: normal; }
      .c_box dl dd.tel {
        display: inline-block;
        vertical-align: middle;
        width: 49%; }
      .c_box dl dd a {
        color: #474747; }
  
  @media (max-width: 1440px) {
    .c_box {
      right: 4em; } }
  @media (max-width: 1099px) {
    .c_box {
      position: relative;
      right: auto; }
  
    #map {
      height: 450px; } }
  @media (max-width: 767px) {
    .c_form {
      margin-bottom: 4em; } }
  @media (max-width: 480px) {
    #map {
      height: 280px; }
  
    .c_box {
      padding: 1.5em 2em;
      height: auto; } }
  @media (max-width: 424px) {
    .c_box dl dd .google {
      margin: 0;
      display: flex;
      margin-top: 0.5em; } }
  
  /*# sourceMappingURL=style.css.map */